<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="Styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <script src="Angular/angular.min.js"></script>
    <script src="Module/mainModule.js"></script>
    <script src="HomeController/HomeController.js"></script>
    <script src="Directives/fdSideNav.js"></script>
    <script src="jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="Bootstrap/js/bootstrap.min.js"></script>
    <title>Kereső</title>
</head>

<body ng-app="Home" ng-controller="HomeController">
    <header class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark col-sm-12" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Főoldal</a></li>
                    <li class="breadcrumb-item"><a href="#">Keresés</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Autók</li>
                </ol>
                <button class="navbar-toggler col-xs-10" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse col-sm-8" id="navbarCollapse">
                    <form class="form-inline">
                        <input class="form-control" type="text" placeholder="Keresés" ng-model="query">
                    </form>
                </div>
            </nav>
        </div>
    </header>

    <div class="main-container"> 
        <div class="fd-sidenav col-sm-2">
            <ul class="fd-dropdown-menu">
                <li class="fd-dropdown-menu-btn" data-click="1" ng-click="opendropDown()">
                    Autók <i class="fas fa-chevron-down"></i>
                    <div class="fd-dropdown-content">
                        <a href="#" ng-click="query = {type: 1}">Mitsubishi</a>
                        <a href="#" ng-click="query = {type: 2}">Subaru</a>
                        <a href="#" ng-click="query = {type: 3}">Ford</a>
                        <a href="#" ng-click="query = {type: 4}">Volkswagen</a>
                        <a href="#" ng-click="query = {type: 5}">Volvo</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="products-container container-fluid">

            <div class="product-box" ng-repeat="car in carsArray | filter:query">
                <div class="product-picture col-sm-3">
                    <img src="{{car.url}}">
                </div>
                <div class="product-info col-sm-5" ng-model="carsMitsubishi">
                    <h2>{{car.nev}}</h2>
                    <h3>{{car.tipus}}</h3>
                    <p>Évjárat: {{car.evjarat}}</p>
                    <p>Ár: {{car.ar}}</p>
                </div>
                <div class="product-info-button col-sm-4">
                    <button type="button" class="btn btn-primary">Tovább</button>
                </div>
            </div>

        </div>
    </div>
    <div class="back-to-the-top">
        <i class="fas fa-chevron-up"></i>
    </div>
</body>

</html>