*{
    margin: 0;
    padding: 0;
}
html, body {
    :focus {
        outline: 0;
    }
    a {
        &:hover {text-decoration: none;}
    }
}
.navbar {
    justify-content: space-between;

    .breadcrumb {
        margin-bottom: 0;
    }
}
.collapse {
    justify-content: flex-end !important;
}
.navbar-collapse {justify-content: space-between;}
.main-container {
    display: flex;
    flex-direction: row; 
    .fd-sidenav {
        position: relative;
        top: 0;
        left: 0;
        border-right: 1px solid lightgrey;
        padding: 30px 0 0 30px;
        .fd-dropdown-menu {
            list-style: none;
            width: 100%;
            height: 35px;
            overflow: hidden;
            transition: height 0.3s ease-in-out;
            li {
                cursor: pointer;
                i {
                    transition: 0.25s ease-in-out;
                    &.active {
                        transform: rotate(180deg);
                    }
                }
            }
            .fd-dropdown-content {
                display: flex;
                flex-direction: column;
                a {
                    padding: 20px 0 0 0;
                    color: black;
                    cursor: pointer;
                }
            }
        }
    }
    .product-box {  
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid lightgrey;
        padding: 30px 30px;
        .product-picture {
            img {
                width: 100%;
                height: auto;
            }
        }
        .product-info {
            display: flex;
            flex-direction: column;
        }
        .product-info-button {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            align-content: flex-end;
            justify-content: flex-end;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}
.back-to-the-top {
    width: 60px;
    height: 60px;
    background: grey;
    border-radius: 50%;
    position: fixed;
    left: -70px;
    bottom: 150px;
    cursor: pointer;
    display: flex;
    flex-direction:row;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease-in-out;
    i {
        color: white;
        font-size: 35px;
    }
    &.showButton {
        left: 30px;
        opacity: 1;
    }
}

@media (min-width: 370px) and (max-width: 960px) {
    form {
        margin: 20px 0;    
    }
    .fd-sidenav {display: none;}
}
@media (min-width: 370px) and (max-width: 500px) {
    .products-container {
        .product-box {  
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}