* {
  margin: 0;
  padding: 0;
}

html :focus, body :focus {
  outline: 0;
}

html a:hover, body a:hover {
  text-decoration: none;
}

.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .breadcrumb {
  margin-bottom: 0;
}

.collapse {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.navbar-collapse {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-container .fd-sidenav {
  position: relative;
  top: 0;
  left: 0;
  border-right: 1px solid lightgrey;
  padding: 30px 0 0 30px;
}

.main-container .fd-sidenav .fd-dropdown-menu {
  list-style: none;
  width: 100%;
  height: 35px;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.main-container .fd-sidenav .fd-dropdown-menu li {
  cursor: pointer;
}

.main-container .fd-sidenav .fd-dropdown-menu li i {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.main-container .fd-sidenav .fd-dropdown-menu li i.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-container .fd-sidenav .fd-dropdown-menu .fd-dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .fd-sidenav .fd-dropdown-menu .fd-dropdown-content a {
  padding: 20px 0 0 0;
  color: black;
  cursor: pointer;
}

.main-container .product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid lightgrey;
  padding: 30px 30px;
}

.main-container .product-box .product-picture img {
  width: 100%;
  height: auto;
}

.main-container .product-box .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .product-box .product-info-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-container .product-box:last-child {
  border-bottom: none;
}

.back-to-the-top {
  width: 60px;
  height: 60px;
  background: grey;
  border-radius: 50%;
  position: fixed;
  left: -70px;
  bottom: 150px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.back-to-the-top i {
  color: white;
  font-size: 35px;
}

.back-to-the-top.showButton {
  left: 30px;
  opacity: 1;
}

@media (min-width: 370px) and (max-width: 960px) {
  form {
    margin: 20px 0;
  }
  .fd-sidenav {
    display: none;
  }
}

@media (min-width: 370px) and (max-width: 500px) {
  .products-container .product-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */